{% extends 'base.html' %}

{% block content %}

<div class="mobile-margin-xs">
<div class="container pt-5">
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="lead">Welcome to STN Vapes, your local Vape and E-Liquid store now ONLINE</p>
    <p>Check out our latest hot offers below</p>
  </div>
</div>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Kits</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">Your Style</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Starter Kits</li>
          <li>Advanced Kits</li>
          <li>Pen Kits</li>
          <li>Vape Tanks</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Find out More</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">E-Liquids</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">Your flavour</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Fruit</li>
          <li>Menthol</li>
          <li>Confectionery</li>
          <li>+ Many more...</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Take a Look</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Accessories</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">What's new?</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>All new hardware</li>
          <li>Latest Flavours</li>
          <li>Customer Reviews</li>
          <li>VIP Discounts</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Let's Go!</button>
      </div>
    </div>
  </div>

{% endblock %}
